@{
    ViewData["Title"] = "First";
    ViewData["JumbotronImage"] = "/images/OrBust.jpg";
}
<div class="container">
    <div class="row">
        <div class="col-10 offset-1 col-md-8 offset-md-2">
            <h1 class="times-font text-center">Or Bust</h1>
            <p class="times-font text-center"><i>idiom</i></p>
            <br />
            <p class="arial-font"><b>Definition of</b> OR BUST</p>
            <p>
                <i>informal</i><br />
                - used to say that one will do everything possible to get somewhere
            </p>
            <ul>
                <li>The sign on the car said "New Orleans <i>or bust</i>!"</li>
            </ul>
        </div>
    </div>
    <div class="row justify-content-center col-auto">
        <input class="btn btn-primary" type="button" value="Ok, that's nice, but what's your point?" aria-describedby="bigButtonPoint" />
    </div>
    <div class="row justify-content-center col-auto">
        <small id="bigButtonPoint" class=" text-muted">You probably guessed by now. Anyway, this is a really big button. Just click. Please.</small>
    </div>
    <div class="invisible" id="hidden1">
        <div class="row col-10 offset-1 col-md-8 offset-md-2">
            <br />
            <p>
                Moving away, moving out of Miami is an issue that, I feel, hasn't been resolved. It needs a resolution. I have a
                new destinaion in mind that you've actually mentioned before. We need to discuss and resolve this, as a couple. 
                In the past, conversations about this have been rough. I came up with this interactive website idea to see if
                things might go better this time. Not necessarily where I get my way, but at least so that this round the 
                conversation can continue if it gets rocky.
                I know you have a lot of good memories in this city. You have your friends,
                and your "network". You were born here. You've grown up here. You married me here. Our son was born here. Our
                next child will be born here as well. These are points that you already know along with, I think / hope, how much I
                detest living in this city.<br />
            </p>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-success active">
                        <input type="radio" name="continue1" id="continue1Op1" autocomplete="off" checked /> Ok, continue
                    </label>
                    <label class="btn btn-danger">
                        <input type="radio" name="continue1" id="continue1Op0" autocomplete="off" /> Let's discuss this later.
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>